{% extends 'index.html' %}

{% block content %}
<br>

<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
        <h2>Upload image file:</h2><br>
        <input class="form-control" type="file" name="image-file" id="formFile"><br>

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>

<!-- -----------------------DISPLAY TEXT OF IMAGE-------------------- -->

<h2 class="text-center">Extracted text</h2><br>

<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for image in images %}
  <div class="col">
    <div class="card">
      <img src="{{image.image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Extracted Info.</h5>
        <hr>
        <p class="card-text">{{image.image_text|slice:300}}</p>
        <a href="{% url 'image-detail' image.id %}" class="btn btn-primary">More</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}